@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #6284ff7d;
    flex-direction: column;
}

h3 {
    font-weight: 100;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.joke_area {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.joke_head {
    padding: 20px 20px;
    padding-bottom: 0px;
    width: 700px;
    height: 50vh;
    border: 1px solid white;
    background-color: aliceblue;
}

.joke_here {
    font-family: bold;
    /* font-family: 'Quicksand', sans-serif; */
    font-size: 25px;
    text-align: center;
    border: 2px solid black;
    background-color: #FFFB7D;
    padding: 10px 10px;
    margin: 10px;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_area {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn {
    color: white;
    padding: 20px 20px;
    border-radius: 17px;
    border: 3px white solid;
    font-weight: bolder;
    background-color: rgb(35, 35, 143);
}
@media (max-width: 760px) {
    .joke_area {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h2 {
        margin: 10px;
        font-size: 17px;
    }
    h3 {
        font-weight: 100;
        font-size: 14px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .joke_here {
        font-family: bold;
        /* font-family: 'Quicksand', sans-serif; */
        font-size: 17px;
        text-align: center;
        border: 2px solid black;
        background-color: #FFFB7D;
        padding: 0px 0px;
        margin: 4px;
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .joke_head {
        padding: 10px 10px;
        padding-bottom: 0px;
        width: 300px;
        height: 40vh;
        border: 1px solid white;
        background-color: aliceblue;
    }
    #btn {
        color: white;
        padding: 10px 10px;
        border-radius: 17px;
        border: 3px white solid;
        font-weight: bolder;
        background-color: rgb(35, 35, 143);
    }
}